<div class="container mx-auto">
    <div 
        class="w-full border-2 border-purple-700 rounded-2xl bg-purple-100 overflow-hidden transition-all duration-500 ease-out"
        [class]="expandReunionActualState ? 'h-[580px] lg:h-56' : 'h-13'"
    >

        <div class="flex justify-between items-center px-4 pt-1">
            <div></div>
            <h2 class="text-2xl font-black text-purple-700">Detalle de la reunión</h2>
            @if(expandReunionActualState){
                <button mat-icon-button (click)="expandReunionActual()">
                    <mat-icon style="color: oklch(49.6% 0.265 301.924);">close_fullscreen</mat-icon>
                </button>
            }@else {
                <button mat-icon-button (click)="expandReunionActual()">
                    <mat-icon style="color: oklch(49.6% 0.265 301.924);">open_in_full</mat-icon>
                </button>
            }
        </div>

        <div class="grid lg:grid-cols-4 gap-4 p-4 items-center">
            @if (reunionActualDetails) {

                @if (version) {
                    <p class="text-lg text-purple-700 font-bold">
                        Proyecto:
                    </p>
        
                    <p class="text-md text-purple-700">
                        {{ version.proyecto.nombre }}
                    </p>
        
                    <p class="text-lg text-purple-700 font-bold">
                        Versión:
                    </p>
        
                    <p class="text-md text-purple-700">
                        {{ version.nombre }}
                    </p>
                }

                <p class="text-lg text-purple-700 font-bold">
                    Nombre de la reunión:
                </p>
    
                <p class="text-md text-purple-700">
                    {{ reunionActualDetails.nombre }}
                </p>
    
                <p class="text-lg text-purple-700 font-bold">
                    Lugar de la reunión:
                </p>
    
                <p class="text-md text-purple-700">
                    {{ reunionActualDetails.lugar }}
                </p>
    
                <p class="text-lg text-purple-700 font-bold">
                    Código de la reunión:
                </p>
    
                <p class="text-md text-purple-700">
                    {{ reunionActualDetails.codigo }}
                </p>
    
                <p class="text-lg text-purple-700 font-bold">
                    Fecha y hora creación:
                </p>
    
                <p class="text-md text-purple-700">
                    {{ transformarFecha(reunionActualDetails.createdAt) }}
                </p>
            }  
        </div>
    </div>

    <div class="mt-4">
        @if (reunionActualDetails) {
            <app-responsables 
                [id_reunion]="reunionActualDetails.id" 
                [reunion_reactivada]="reunionActualDetails.reactivado"
                [id_usuario_reunion]="reunionActualDetails.id_usuario"
                (esUsuarioLector)="validarLector($event)">
            </app-responsables>

            <app-asistencia
                [id_reunion]="reunionActualDetails.id"
                [reunion]="reunionActualDetails"
                [esUsuarioLector]="esUsuarioLector">
            </app-asistencia>

            <app-puntos [id_reunion]="reunionActualDetails.id" [esUsuarioLector]="esUsuarioLector"></app-puntos>

            <div class="w-full border border-purple-700 rounded-2xl p-4 shadow-lg mt-4">
                
                <div class="flex flex-col md:flex-row items-center">
                    <h1 class="text-2xl font-bold text-purple-700">Desarrollo de la reunión</h1>
                </div>

                <form [formGroup]="reunionForm">
                    <div class="mt-4">
                        <mat-slide-toggle formControlName="virtual">¿Es una reunión virtual?</mat-slide-toggle>
                    </div>
    
                    <div class="mt-2">
                        
                        <mat-form-field class="w-96 mt-2">
                            <mat-label>Motivo de la reunión</mat-label>
                            <mat-select formControlName="motivo">
                                @for (motivo of motivosReunion; track $index) {
                                    <mat-option [value]="motivo.id">{{ motivo.nombre }}</mat-option>
                                }
                            </mat-select>
                        </mat-form-field>
    
                        <angular-editor #editorTexto formControlName="contenido" [config]="editorConfig"></angular-editor>
                        
                        
                    </div>
                </form>
                

            </div>

            <app-acuerdos [id_reunion]="reunionActualDetails.id" [esUsuarioLector]="esUsuarioLector"></app-acuerdos>

            @if(!esUsuarioLector) {
                <div class="mt-4 flex flew-wrap justify-between items-center gap-2 border border-purple-700 rounded-md p-4 bg-purple-100">                
                    <button 
                        mat-flat-button 
                        (click)="finalizarReunion()"
                        [disabled]="contarLetras(reunionForm.controls['contenido'].value ?? '') < 20"
                    >
                        Finalizar reunión
                    </button>
        
                    <div class="space-x-2">
                        <button 
                            mat-flat-button 
                            (click)="guardarReunion()"
                            class="btn-tertiary"
                            [disabled]="contarLetras(reunionForm.controls['contenido'].value ?? '') < 20"
                        >
                            Guardar como borrador
                        </button>
        
                        <button 
                            mat-flat-button 
                            (click)="guardarReunionYSalir()"
                            class="btn-secondary"
                            [disabled]="contarLetras(reunionForm.controls['contenido'].value ?? '') < 20"
                        >
                            Guardar como borrador y salir
                        </button>
                    </div>
                </div>
            }

        }

    </div>

</div>