<div class="container mx-auto">
    <div 
        class="w-full border-2 border-purple-700 rounded-2xl bg-purple-100 overflow-hidden transition-all duration-500 ease-out"
        [class]="expandReunionActualState ? 'h-[580px] lg:h-56' : 'h-13'"
    >

        <div class="flex justify-between items-center px-4 pt-1">
            <div></div>
            <h2 class="text-2xl font-black text-purple-700">Detalle de la reunión</h2>
            @if(expandReunionActualState){
                <button mat-icon-button (click)="expandReunionActual()">
                    <mat-icon style="color: oklch(49.6% 0.265 301.924);">close_fullscreen</mat-icon>
                </button>
            }@else {
                <button mat-icon-button (click)="expandReunionActual()">
                    <mat-icon style="color: oklch(49.6% 0.265 301.924);">open_in_full</mat-icon>
                </button>
            }
        </div>

        <div class="grid lg:grid-cols-4 gap-4 p-4 items-center">
            @if (reunionActualDetails) {

                @if (version) {
                    <p class="text-lg text-purple-700 font-bold">
                        Proyecto:
                    </p>
        
                    <p class="text-md text-purple-700">
                        {{ version.proyecto.nombre }}
                    </p>
        
                    <p class="text-lg text-purple-700 font-bold">
                        Versión:
                    </p>
        
                    <p class="text-md text-purple-700">
                        {{ version.nombre }}
                    </p>
                }

                <p class="text-lg text-purple-700 font-bold">
                    Nombre de la reunión:
                </p>
    
                <p class="text-md text-purple-700">
                    {{ reunionActualDetails.nombre }}
                </p>
    
                <p class="text-lg text-purple-700 font-bold">
                    Lugar de la reunión:
                </p>
    
                <p class="text-md text-purple-700">
                    {{ reunionActualDetails.lugar }}
                </p>
    
                <p class="text-lg text-purple-700 font-bold">
                    Código de la reunión:
                </p>
    
                <p class="text-md text-purple-700">
                    {{ reunionActualDetails.codigo }}
                </p>
    
                <p class="text-lg text-purple-700 font-bold">
                    Fecha y hora creación:
                </p>
    
                <p class="text-md text-purple-700">
                    {{ reunionActualDetails.createdAt }}
                </p>
            }  
        </div>
    </div>

    <div class="mt-4">
        @if (reunionActualDetails) {
            <app-responsables 
                [id_reunion]="reunionActualDetails.id" 
                [reunion_reactivada]="reunionActualDetails.reactivado"
                [id_usuario_reunion]="reunionActualDetails.id_usuario">
            </app-responsables>

            <app-asistencia
                [id_reunion]="reunionActualDetails.id">
            </app-asistencia>

            <app-puntos></app-puntos>

            <div class="w-full border border-purple-700 rounded-2xl p-4 shadow-lg mt-4">
                
                <div class="flex flex-col md:flex-row items-center">
                    <h1 class="text-2xl font-bold text-purple-700">Desarrollo de la reunión</h1>
                </div>

                <div class="mt-4">
                    <angular-editor [formControl]="contenido" [config]="editorConfig"></angular-editor>
                </div>

            </div>

            <app-acuerdos></app-acuerdos>

            <div class="mt-4 flex flew-wrap justify-end items-center gap-2 border border-purple-700 rounded-md p-4 bg-purple-100">                
                <button 
                    mat-flat-button 
                    (click)="finalizarReunion()"
                >
                    Finalizar reunión
                </button>
    
                <button 
                    mat-flat-button 
                    (click)="finalizarReunion()"
                    class="btn-tertiary"
                >
                    Guardar como borrador
                </button>

                <button 
                    mat-flat-button 
                    (click)="finalizarReunion()"
                    class="btn-secondary"
                >
                    Guardar como borrador y salir
                </button>
            </div>

        }

    </div>

</div>