a {
  text-decoration: none;
  color: black; /* color normal */
}

a.active {
  color: red; /* cuando está activo */
  font-weight: bold; /* opcional: remarcar */
}

.btn-tertiary {
  color: #673AB7 !important;
}

.btn-tertiary:hover {
  background-color: #ddd1f1 !important;
  color: #673AB7 !important;
}

.btn-secondary {
  color: var(--mat-sys-tertiary) !important;
}

.btn-secondary:hover {
  background-color: #f5d6fc !important;
  color: var(--mat-sys-tertiary) !important;
}



.mat-mdc-button,
.mat-mdc-raised-button,
.mat-mdc-flat-button {
  justify-content: flex-start !important; /* texto a la izquierda */
  padding-left: calc(var(--spacing) * 4) !important; 
}

button.mat-mdc-button.btn-tertiary:hover,
button.mat-mdc-raised-button.btn-tertiary:hover {
  background-color: #ddd1f1 !important;
  color: #673AB7 !important;
}


