  <div class="bg-purple-100 h-full border-r border-purple-300 overflow-y-hidden pt-16">
    <div class="flex flex-col justify-center">
      
      @for(option of menuOptions; track option.path){

        <button mat-button 
          routerLink="{{ option.path }}" 
          routerLinkActive="active" 
          [routerLinkActiveOptions]="{ exact: true }" 
          ariaCurrentWhenActive="page"
        >
          <mat-icon>{{ option.icon }}</mat-icon>
          {{ option.name }}
        </button>

      }

    </div>
  </div>