
<div class="container mx-auto py-12 px-4">
    
    <picture class="flex gap-4 justify-center items-center py-2 px-4 border border-purple-500 rounded-xl bg-purple-100 w-full">

        <img 
            [src]="`/images/frases/reu-${dia}.svg`" 
            alt="Reulito diario"
            class="aspect-square object-cover max-w-36"
        >
        <div class="text-center">
            <h1 class="text-2xl">Bienvenido de nuevo, {{ usuario.nombre }}</h1>
            <span class="text-2xl font-bold">
                {{ frase }}
            </span>
        </div>
    
    </picture>

    <div class="w-full text-end mt-4">
        <button mat-flat-button>
            <mat-icon>add</mat-icon>
            Iniciar nueva reunión
        </button>
    </div>

    <div class="flex mt-4">

        <div class="w-1/2 px-4">
            
            <app-reuniones-progreso [usuario]="usuario"></app-reuniones-progreso>

        </div>

        <div class="w-1/2 px-4">
            
            <app-reuniones-finalizada [usuario]="usuario"></app-reuniones-finalizada>

        </div>
    </div>
    

</div>
