<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

    <mat-form-field class="w-full">
        <mat-label>Correo electrónico</mat-label>
        <input id="email" type="email" matInput formControlName="email">
        @if (loginForm.controls['email'].hasError('required') && (loginForm.controls['email'].dirty || loginForm.controls['email'].touched)) {
            <mat-error>El campo correo electrónico es requerido </mat-error>
        }
        @if (loginForm.controls['email'].hasError('email') && (loginForm.controls['email'].dirty || loginForm.controls['email'].touched)) {
            <mat-error>Debe escribir un email válido.</mat-error>
        }
    </mat-form-field>
    
    <mat-form-field class="w-full">
        <mat-label>Contraseña</mat-label>
        <input id="password" matInput formControlName="password" [type]="hide() ? 'password' : 'text'">
        <button
            matIconButton
            matSuffix
            type="button"
            class="mr-4"
            (click)="clickEvent($event)"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide()"
        >
            <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error>La contraseña es requerida</mat-error>
    </mat-form-field>

    <button mat-flat-button class="w-full" type="submit" [disabled]="isSubmitting">
        @if (isSubmitting) {
            <mat-spinner diameter="20" strokeWidth="2"></mat-spinner>
        }@else {
            Entrar
        }
    </button>

</form>
<br>

<div class="text-center">
    <p>¿Tienes problemas para iniciar sesión?</p>
    <a routerLink="/recuperar-contrasena" class="text-blue-600 hover:underline cursor-pointer block">Recuperar contraseña</a>
</div>

<hr class="text-gray-300">
<br>

<app-reunion-code></app-reunion-code>