<div class="w-full shadow-lg p-4 rounded border border-gray-300">

    <h1 class="text-xl text-purple-700 font-bold">Funcionalidades de la versión</h1>

    <div class="overflow-auto">
        <table class="mt-8 w-full">
            <thead class="border-b-2 border-purple-700 text-purple-700">
                <th class="py-2 px-4">Nombre de la funcionalidad</th>
                <th class="py-2 px-4">Estado de aprobación</th>
                <th class="py-2 px-4">Cambio solicitado</th>
                <th class="py-2 px-4">Acción</th>
            </thead>
            <tbody>
                @for (funcion of funcionalidades; track $index) {
                    <tr class="text-center border-t border-gray-300 hover:bg-purple-100 transition-colors duration-300 ease-in-out">
                        <td class="py-4 px-4">{{ funcion.descripcion }}</td>
                        <td class="py-2 px-4" [class]=" funcion.aprobado ? 'text-green-700':'text-red-700'">
                            {{ funcion.aprobado ? 'Aprobado': 'No aprobado' }}
                        </td>
                        <td class="py-4 px-4">
                            {{ funcion.cambio_solicitado }}
                        </td>
                        <td class="py-2 px-4">
                            
                            @if(!funcion.aprobado){
                                <button 
                                    mat-icon-button
                                    matTooltip="Aprobar funcionalidad" 
                                    (click)="aprobarFuncionalidad(funcion.id)"
                                    style="color: green;">
                                    <mat-icon>check</mat-icon>
                                </button>
                            
                                <button 
                                    mat-icon-button
                                    matTooltip="Eliminar funcionalidad"  
                                    (click)="eliminarFuncionalidad(funcion.id)"
                                    style="color: red;">
                                    <mat-icon>delete</mat-icon>
                                </button>
                            }
                        </td>
                    </tr>
                }

                @if(funcionalidades.length === 0){
                    <tr class="text-center border-t border-gray-300">
                        <td class="py-4 px-4" colspan="4">No hay funcionalidades registradas...</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>


</div>