<main class="container mx-auto">

    <h1 class="text-2xl text-purple-700 font-black">Proyectos registrados</h1>
    
    <div class="text-end w-full mt-8">
        <button 
            mat-flat-button
            (click)="mostrarModal()">
            <mat-icon>add</mat-icon>
            Agregar nuevo proyecto
        </button>
    </div>

    <!-- <div class="flex items-start justify-center gap-2 mt-8">
        <mat-form-field class="flex-grow">
            <mat-label>Buscar</mat-label>
            <input
                [formControl]="proyectoBuscado" 
                matInput type="text" 
                placeholder="Ingresa el nombre del proyecto para realizar la busqueda...">
        </mat-form-field>
        <button mat-icon-button>
            <mat-icon>search</mat-icon>
        </button>
    </div> -->

    <div class="overflow-auto mt-8">
        <table mat-table [dataSource]="proyectos">

            <ng-container matColumnDef="proyecto">
                <th mat-header-cell *matHeaderCellDef class="text-purple-700">Proyecto</th>
                <td mat-cell *matCellDef="let proyecto">
                    <p class="text-ellipsis">
                        {{ proyecto.nombre }}
                    </p>
                </td>
            </ng-container>

            <ng-container matColumnDef="usuario">
                <th mat-header-cell *matHeaderCellDef class="text-purple-700 w-80">Usuario que registra</th>
                <td mat-cell *matCellDef="let proyecto">
                    <p class="text-ellipsis">
                        {{ proyecto.usuario['nombre'] }}
                    </p>
                </td>
            </ng-container>

            <ng-container matColumnDef="fecha">
                <th mat-header-cell *matHeaderCellDef class="text-purple-700 w-56">Fecha de creación</th>
                <td mat-cell *matCellDef="let proyecto">
                    <p class="text-ellipsis">
                        {{ transformarFecha(proyecto.createdAt) }}
                    </p>
                </td>
            </ng-container>

            <ng-container matColumnDef="accion">
                <th mat-header-cell *matHeaderCellDef class="text-purple-700 w-48">Acciones</th>
                <td mat-cell *matCellDef="let proyecto">

                    <button 
                        mat-icon-button
                        matTooltip="Editar proyecto"
                        (click)="mostrarModal(proyecto)"
                        type="button">
                        <mat-icon style="color: orange;">edit</mat-icon>
                    </button>
                    
                    <button 
                        mat-icon-button
                        matTooltip="Versiones"
                        [routerLink]="['/versiones', proyecto.id]"
                        type="button">
                        <mat-icon style="color: blue;">visibility</mat-icon>
                    </button>

                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">
                    <p class="font-italic py-2 px-4 text-center">
                        No hay proyectos registrados.
                    </p>
                </td>
            </tr>

        </table>

        <mat-paginator
            [length]="totalRecords"
            [pageSize]="pageSize"
            [pageIndex]="currentPage"
        ></mat-paginator>
    </div>

</main>