<div class="w-full p-4">
    <h1 class="text-xl font-bold text-purple-700">
        @if(data){
            Actualiza un proyecto
        } @else {
            Agrega un nuevo proyecto
        }
    </h1>


    @if(!data) {
        <div class="bg-sky-100 mt-4 p-4 text-sky-700 shadow rounded">
            <h4 class="flex items-center gap-1 font-bold">
                <mat-icon>info</mat-icon>
                ATENCIÓN
            </h4>

            <p>
                Recuerda siempre validar que el proyecto no ha sido creado por alguien más, recuerda que antes de tí, alguien más pudo llevar el requerimiento.
            </p>
        </div>
    }

    <form class="mt-8" [formGroup]="formProyectos" (submit)="onSubmit()">

        <mat-form-field class="w-full">
            <mat-label>Nombre del proyecto</mat-label>
            <input matInput formControlName="nombre">
        </mat-form-field>

        @if (formProyectos.controls['nombre'].hasError('required') && (formProyectos.controls['nombre'].touched || formProyectos.controls['nombre'].dirty)) {
            <p class="text-red-700 pb-4 text-center">El nombre del proyecto es requerido.</p>
        }

        @if (formProyectos.controls['nombre'].hasError('maxlength') && (formProyectos.controls['nombre'].touched || formProyectos.controls['nombre'].dirty)) {
            <p class="text-red-700 pb-4 text-center">El campo solamente acepta 200 caracteres.</p>
        }

        <div class="space-x-2 text-center">
            <button 
                mat-flat-button 
                type="submit"
                [disabled]="formProyectos.controls['nombre'].invalid">
                @if(data){
                    Actualizar
                }@else {
                    Agregar
                }
            </button>
            <button 
                mat-flat-button 
                type="button" 
                class="btn-secondary"
                (click)="cerrarModal(false)">
                Cancelar
            </button>
        </div>

    </form>
</div>