  <div class="relative h-screen flex flex-col">

    @if(!isLoginPage && token){
      <div class="sticky top-0 left-0 w-full bg-white shadow-md z-10 px-4 flex justify-between items-center">
      
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
      
        <button routerLink="/" class="cursor-pointer">
          <img src="images/Logo-reutrack-fondo-blanco.svg" alt="reutrack-logo" class="h-12">
        </button>
        
        <app-menu-opciones></app-menu-opciones>

      </div>
    }
  
    <mat-sidenav-container class="h-full">
  
      <mat-sidenav #sidenav mode="over" closed>
        
        @if(!isLoginPage && token){
          <app-navbar></app-navbar>
        }
    
      </mat-sidenav>
  
      <mat-sidenav-content>
        
        <main [class]="!isLoginPage ? 'my-10':''">

          <router-outlet />
        
        </main>
  
      </mat-sidenav-content>
  
    </mat-sidenav-container>
  
    @if(!isLoginPage && token){
      <div class="sticky bottom-0 left-0 w-full bg-gray-100 text-center p-3 border-t border-gray-200 z-10">
        Francisco Escobar &copy; 2025
      </div>
    }
  </div>