  <div class="h-screen flex flex-col">

    @if(!isLoginPage){
      <div class="fixed top-0 left-0 w-full bg-white shadow-md z-10 px-4 flex justify-between">
        <button matButton (click)="sidenav.toggle()">Toggle</button>
        <img src="images/Logo-reutrack-fondo-blanco.svg" alt="reutrack-logo" class="h-12">
        <button matButton routerLink="/login">Salir</button>
      </div>
    }
  
    <mat-sidenav-container class="h-screen">
  
      <mat-sidenav #sidenav mode="side" closed>
        
        @if(!isLoginPage){
          <app-navbar></app-navbar>
        }
    
        </mat-sidenav>
  
      <mat-sidenav-content>
        
        <main [class]="!isLoginPage ? 'mt-16 ml-4':''">

          <router-outlet />
        
        </main>
  
      </mat-sidenav-content>
  
    </mat-sidenav-container>
  
    @if(!isLoginPage){
      <div class="fixed bottom-0 left-0 w-full bg-gray-100 text-center p-3 border-t border-gray-200 z-10">
        Francisco Escobar &copy; 2025
      </div>
    }
  </div>