<div class="w-full h-full bg-red-50">
    <div class="p-4">
        <h3 class="text-red-700 font-bold text-xl inline-flex items-center gap-2 mb-4">
            <mat-icon class="flex-shrink-0">warning</mat-icon>
            ¿Desea cancelar la versión "{{ data.nombre }}" ?
        </h3>
        <p class="text-red-700 text-justify">
            Si confirma esta acción no podrá generar nuevas reuniones para esta versión y tampoco agregar un acta de aceptación, esta acción no se puede deshacer.
        </p>

        <div class="text-end space-x-2 mt-4">
            <button 
                mat-flat-button
                class="btn-aceptar"
                (click)="cancelarVersion(data.id)"
            >
                <mat-icon>check</mat-icon>
                Si, deseo cancelar la versión
            </button>

            <button 
                mat-flat-button
                class="btn-cancelar"
                (click)="cerrarModal(false)"
            >
                <mat-icon>block</mat-icon>
                No, cancelar
            </button>
        </div>

    </div>
</div>