<div class="container mx-auto">

    <div class="p-8 bg-purple-100 rounded shadow-md max-w-4xl mx-auto">
        <div class="flex items-center justify-center">
            <img src="images/Reulito-2.svg" alt="reulito" class="max-w-32">
            <h2 class="text-3xl font-bold mb-4 text-center text-purple-700">¿Olvidaste tu contraseña?</h2>
        </div>
        <p class="text-center text-purple-700 text-lg">
            Puedes recuperar tu contraseña ingresando tu correo electrónico. Ten enviaremos un enlace con un código de verificación para que puedas restablecer tu contraseña.
        </p>
    </div>

    <app-form-recuperar></app-form-recuperar>

</div>