.btn-aceptar {
    background-color: oklch(50.5% 0.213 27.518);
}

.btn-aceptar:hover {
    background-color: oklch(45.765% 0.18729 28.372);
    transition: background-color 150ms ease-in;
}

.btn-cancelar {
    background-color: #fef2f2;
    color: oklch(50.5% 0.213 27.518);
    border-color: oklch(50.5% 0.213 27.518);
    border: 1px solid;
}

.btn-cancelar:hover {
    background-color: #eecbcb;
    transition: background-color 150ms ease-in;
}