.btn-aceptar {
  background-color: #a855f7; /* purple-500 */
  color: white;
}

.btn-aceptar:hover {
  background-color: #9333ea; /* purple-600 */
  transition: background-color 150ms ease-in;
}

.btn-aceptar:disabled {
  background-color: #D8CFE4; /* gris claro */
  color: #918A98;            /* texto gris */
  cursor: not-allowed;
}

.btn-cancelar {
  background-color: #faf5ff; /* purple-50 */
  color: #a855f7;            /* purple-500 */
  border: 1px solid #a855f7; /* purple-500 */
}

.btn-cancelar:hover {
  background-color: #f3e8ff; /* purple-100 */
  transition: background-color 150ms ease-in;
}
