<div class="container mx-auto">
    
    <div class="flex flex-col items-center gap-3 px-4 lg:px-0">
        <div class="bg-sky-100 p-4 max-w-full shadow-sm border-l-3 border-sky-700">
            <div class="flex items-center gap-2 text-sky-700 text-xl font-medium">
                <mat-icon>info</mat-icon>
                <span>Atención</span>
            </div>
            @if(isActualizarContrasenaUrl){
                <p class="text-sky-700">
                    Para realizar la recuperación de su contraseña, deberá ingresar una nueva contraseña en el primer campo y repetirla en el segundo para su confirmación.
                    La contraseña debe cumplir con los siguientes requisitos:
                    <span class="block">
                        1. Poseer un mínimo de ocho (8) caracteres de longitud
                    </span>
                    <span class="block">
                        2. Incluir al menos una letra mayúscula y una minúscula.
                    </span>
                    <span class="block">
                        3. Incluir al menos un número.
                    </span>
                    <span class="block">
                        4. Incluir al menos un carácter especial.
                    </span>
                    <span class="font-medium">Si este es su primer inicio de sesión en la aplicación, es obligatorio</span> que proceda con el cambio de la contraseña temporal asignada.
                </p>
            }
            @else {
                <p class="text-sky-700">
                    Para realizar la actualización de su contraseña, deberá ingresar la contraseña actual en el primer campo. En el segundo campo, deberá definir una nueva 
                    contraseña. Esta nueva contraseña es requerida para poseer un mínimo de <b>ocho (8) caracteres</b> de longitud, incluir al menos una letra <b>mayúscula</b>, 
                    una <b>minúscula</b>, un <b>número</b> y un <b>carácter especial</b>. Finalmente, deberá repetir la nueva contraseña en el tercer campo para su confirmación. Si este es su 
                    primer inicio de sesión en la aplicación, es <b>obligatorio</b> que proceda con el cambio de la contraseña temporal asignada.
                </p>    
            }
        </div>
    
        <div class="bg-white border-gray-200 border w-full lg:w-96 rounded shadow-md p-4">
        
            <form [formGroup]="formContrasena" (submit)="onSubmit()">

                @if(!isActualizarContrasenaUrl){
                    <mat-form-field class="w-full">
                        <mat-label>Contraseña actual</mat-label>
                        <input matInput formControlName="old" [type]="hideOld() ? 'password' : 'text'">
                        <button mat-icon-button matSuffix type="button"
                                (click)="toggle('old', $event)">
                            <mat-icon>{{ hideOld() ? 'visibility_off' : 'visibility' }}</mat-icon>
                        </button>
                        @if(formContrasena.controls['old'].hasError('required') && (formContrasena.controls['old'].touched || formContrasena.controls['old'].dirty)){
                            <mat-error>La contraseña actual es requerida.</mat-error>
                        }
                    </mat-form-field>
                }
        
                <mat-form-field class="w-full">
                    <mat-label>Nueva contraseña</mat-label>
                    <input matInput formControlName="new" [type]="hideNew() ? 'password' : 'text'">
                    <button mat-icon-button matSuffix type="button"
                            (click)="toggle('new', $event)">
                        <mat-icon>{{ hideNew() ? 'visibility_off' : 'visibility' }}</mat-icon>
                    </button>
                    @if(formContrasena.controls['new'].hasError('required') && (formContrasena.controls['new'].touched || formContrasena.controls['new'].dirty)){
                        <mat-error>La nueva es requerida.</mat-error>
                    }
                    @if(formContrasena.controls['new'].hasError('minlength') && (formContrasena.controls['new'].touched || formContrasena.controls['new'].dirty)){
                        <mat-error>La contraseña requiere al menos 8 cracteres.</mat-error>
                    }
                    @if(formContrasena.controls['new'].hasError('pattern') && (formContrasena.controls['new'].touched || formContrasena.controls['new'].dirty)){
                        <mat-error>La contraseña no cumple los requisitos.</mat-error>
                    }
                </mat-form-field>
        
                <mat-form-field class="w-full">
                    <mat-label>Confirmar contraseña</mat-label>
                    <input matInput formControlName="new2" [type]="hideNew2() ? 'password' : 'text'">
                    <button mat-icon-button matSuffix type="button"
                            (click)="toggle('new2', $event)">
                        <mat-icon>{{ hideNew2() ? 'visibility_off' : 'visibility' }}</mat-icon>
                    </button>
                    @if(formContrasena.hasError('passwordMismatch') && formContrasena.get('new2')?.touched) {
                        <mat-error>Las contraseñas no coinciden.</mat-error>
                    }
                    @if(formContrasena.controls['new2'].hasError('required') && formContrasena.controls['new2'].touched){
                        <mat-error>La confirmación de la nueva contraseña es requerida.</mat-error>
                    }
                </mat-form-field>

        
                <button mat-flat-button class="w-full">
                    Aplicar cambio de contraseña
                </button>
            </form>
        
        </div>
    </div>
</div>
