<div 
    class="w-full border border-purple-700 rounded-2xl p-4 shadow-lg mt-4 transition-all duration-500 ease-in"
    [class]="expandirPanel ? 'max-h-[1400px]' : 'max-h-18 overflow-hidden'"
>
    
    <div class="flex flex-col md:flex-row justify-between items-center">
        <h1 class="text-2xl font-bold text-purple-700">Acuerdos tratados en la reunión</h1>

        <button 
            mat-icon-button 
            class="transition-all duration-300 ease-in"
            [class]="expandirPanel ? 'rotate-180':'rotate-0' "
            (click)="expandirAcuerdos()">
            <mat-icon>keyboard_arrow_down</mat-icon>
        </button>

    </div>

    <div class="mt-4 flex flex-col md:flex-row gap-2">
        <form class="w-full md:w-1/2" [formGroup]="acuerdoForm" (click)="agregarAcuerdoDeReunion()">
            <div class="flex flex-col md:flex-row gap-4">
                <mat-form-field class="w-full h-fit">
                    <mat-label>Acuerdos de la reunión</mat-label>
                    <input 
                        matInput
                        formControlName="nombre"
                        type="text" 
                        placeholder="Ingresa un acuerdo de reunión...">
                </mat-form-field>
    
                <button mat-flat-button class="w-full md:w-32" type="submit">
                    <mat-icon>add</mat-icon>
                    Agregar
                </button>
            </div>
        </form>

        <div class="md:w-1/2 space-y-4">

            @if(dataSource.length > 0){

                @for(item of dataSource; track $index){
                    <mat-card appearance="raised">
                        <mat-card-header>
                            <mat-card-subtitle>{{ transformarFecha(item.createdAt) }}</mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                            {{ item.nombre }}
                        </mat-card-content>
                        <mat-card-actions align="end">
                            <button mat-icon-button (click)="eliminarAcuerdo(item.id)">
                                <mat-icon style="color:red;">delete</mat-icon>
                            </button>
                        </mat-card-actions>
                    </mat-card>
                }
            
            }
            @else {

                <div class="border p-4 rounded-lg border-gray-300 bg-gray-100 shadow-md">
                    <h3 class="font-bold text-center text-purple-700">No hay acuerdos o compromisos de reunión agregados</h3>
                </div>

            }

        </div>
    </div>

</div>